.evnt-side-bar-hero-container {
  /* background-color: aquamarine; */
  padding-top: 22px;
  border: 2px solid #000;
  height: 81dvh;
  overflow: scroll;
  max-width: "20%";
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}
.evnt-time-slot-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 18px 6px;
}

.evnt-side-bar-time-span {
  background-color: #add8e6;
  margin-left: 4px;
  padding: 2px 5px;
  border-radius: 25px;
  cursor: pointer;
}

.evnt-time-mrg {
  border-radius: 6px;
  padding: 10px;
  height: 55px;
  background-color: #007fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: larger;
  cursor: pointer;
}

.cur-point {
  cursor: pointer;
}

.evnt-time-mrg-disable {
  border-radius: 6px;
  padding: 10px;
  height: 55px;
  background-color: #add8e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  color: #7e7e7e;
  font-size: larger;
}

/* .horizental-line {
  width: 100%;
  height: 1px;
  background-color: #fd5c63;
} */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.modal-body {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-pop-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: larger;
  margin: 10px 25px;
}

.input-agent {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  font-size: large;
}
.input-container {
  height: 40px;
  width: 280px;
  border: 2px solid #007fff;
  border-radius: 5px;
}

.select-container {
  height: 34px;
  width: 200px;
  border: 1px solid #000;
  border-radius: 5px;
}

.input-txtArea {
  width: 280px;
  height: 100px;
}

.cutm-button {
  background-color: #000;
  border: none;
  height: 40px;
  width: 280px;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
}

.cutm-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.inside-box-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  margin-bottom: 6px;
}
